{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<h1>Settings</h1>
<div class="list-group">
    <a href="{{ url_for('manage_companies') }}" class="list-group-item list-group-item-action">Manage Companies</a>
    <a href="{{ url_for('manage_branches') }}" class="list-group-item list-group-item-action">Manage Branches</a>
    <a href="{{ url_for('manage_sections') }}" class="list-group-item list-group-item-action">Manage Sections</a>
    <a href="{{ url_for('manage_users') }}" class="list-group-item list-group-item-action">Manage Users</a>
    <a href="{{ url_for('email_settings') }}" class="list-group-item list-group-item-action">Manage Email</a>
    <a href="{{ url_for('database_settings') }}" class="list-group-item list-group-item-action">Manage Database</a>
</div>
{% endblock %}
